<!DOCTYPE html>
<html lang="en_GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bruno Amaral, Mário Pires">

    <meta property="fb:admins" content="553387670, 620982784" />
    <meta property="fb:app_id" content="440273992740980"/>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ site.url}}{{ page.url }}" />
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/thumb.png"/>
    <meta property="og:description" content="The Christmas Bike Ride in Lisbon"/>

    <title>{{ site.name }}</title>

    <link href='http://fonts.googleapis.com/css?family=Lato|Great+Vibes' rel='stylesheet' type='text/css'>

    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

{% include sharing.html %}